.Words {
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  text-align: left;
  place-items: center;
}

.Words__word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: darkcyan;
  text-align: center;
  text-decoration: none;
  color: yellow;
  border-radius: 10px;
}

.Words__word:visited {
  color: darkorange;
}
